TZ=America/Sao_Paulo
PUID=xxxx
PGID=xxxx

HOSTS=your_ips/urls


HOMEPAGE_VAR_TPLURL=your-url

HOMEPAGE_VAR_PROXY=your-url

HOMEPAGE_VAR_PROXMOXURL=your-url
HOMEPAGE_VAR_PROXMOXTOKEN=your-token
HOMEPAGE_VAR_PROXMOXSECRET=your-secret

HOMEPAGE_VAR_DNSURL=your-url


PROXY_EMAIL=your-email
PROXY_PASSWD=your-passwd


OMADA_EMAIL=your-email
OMADA_PASSWD=your-passwd
