TZ=America/Sao_Paulo
PUID=1000
PGID=1000

HOSTS=your_ips/urls

HOMEPAGE_VAR_TPLURL=your-url
HOMEPAGE_VAR_PROXY=your-url

HOMEPAGE_VAR_PROXMOXURL=your-url
HOMEPAGE_VAR_PROXMOXTOKEN=your-token
HOMEPAGE_VAR_PROXMOXSECRET=your-secret

HOMEPAGE_VAR_DNSURL=your-url
